* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #FEF9EF;
}
body{
    background: url("img.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
}
header{
    display: flex;
    padding-top: 1rem;
}
small{
    font-size: 1rem;
    font-weight: 500;
}
.coming-soon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-top: 10rem;
}